.section__tv-show {
  height: 100vh;
  width: 100vw;
  will-change: transform;
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}
.section__tv-show .tv-show-wrapper {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 12rem);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.section__tv-show .tv-show-prez {
  font-family: var(--font-2b);
  width: calc(90vw - 100vh);
  margin-top: 2vh;
}
.section__tv-show .tv-show-prez p {
  margin: 0 0 1vw 1vw;
}
.section__tv-show .tv-show-prez p:nth-child(1) span:nth-child(1) {
  font-size: 1.75vw;
}
.section__tv-show .tv-show-prez p:nth-child(1) span:nth-child(2) {
  margin-left: 1vw;
  font-size: 2.5vw;
}
.section__tv-show .tv-show-prez p:nth-child(2) {
  font-size: 1.75vw;
  font-style: italic;
}
.section__tv-show .tv-show-prez p:nth-child(3), .section__tv-show .tv-show-prez p:nth-child(4) {
  font-size: 1.25vw;
  margin-left: 0;
}
.section__tv-show .tv {
  height: 65vh;
  width: 100vh;
  background: #5b4dcd;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5%;
  border: 2px solid black;
}
.section__tv-show .tv .tv-screen {
  position: relative;
  background: #293450;
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 2px solid #11103f;
}
.section__tv-show .tv .tv-screen .channel {
  position: absolute;
  font-family: "VT323", monospace;
  top: 7.5vmin;
  right: 9vmin;
  font-size: 3vmin;
  font-weight: bolder;
  color: lime;
}
.section__tv-show .tv .tv-screen .my-video {
  border-radius: 30%/15%;
  height: 90%;
  width: 90%;
  border: 2px solid black;
  background: black;
  -o-object-fit: contain;
     object-fit: contain;
}
.section__tv-show .tv .rightSide {
  width: 10%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section__tv-show .tv .rightSide .rightSide--tvButton {
  width: 8vmin;
  height: 8vmin;
  background: #38302e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #283141;
}
.section__tv-show .tv .rightSide .rightSide--tvButton:hover {
  cursor: pointer;
}
.section__tv-show .tv .rightSide .rightSide--tvButton .rightSide--tvButton-line {
  height: 90%;
  width: 20%;
  background-color: #8eadcc;
  transform: rotate(90deg);
  border: 1px solid #283141;
}
.section__tv-show .tv .rightSide .rightSide--sound {
  width: 100%;
  height: 40%;
  background: #6e8dc8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5%;
  border: 1px solid #283141;
}
.section__tv-show .tv .rightSide .rightSide--sound > div {
  height: 80%;
  width: 10%;
  background: #283141;
}

@media (orientation: portrait) {
  .section__tv-show .tv-show-wrapper {
    flex-direction: column;
  }
  .section__tv-show .tv-show-prez {
    width: 100vw;
    height: calc(90vh - calc(8rem + 85vw));
  }
  .section__tv-show .tv-show-prez p:nth-child(1) {
    text-align: center;
  }
  .section__tv-show .tv-show-prez p:nth-child(1) span:nth-child(1) {
    font-size: 2.5vh;
  }
  .section__tv-show .tv-show-prez p:nth-child(1) span:nth-child(2) {
    font-size: 4vh;
  }
  .section__tv-show .tv-show-prez p:nth-child(2) {
    font-size: 2.5vh;
    font-style: italic;
    margin-left: 2vh;
  }
  .section__tv-show .tv-show-prez p:nth-child(3), .section__tv-show .tv-show-prez p:nth-child(4) {
    font-size: 1.5vh;
    margin: 0 2vh;
  }
  .section__tv-show .tv {
    height: 85vw;
    width: 100vw;
    flex-direction: column;
  }
  .section__tv-show .tv .tv-screen {
    width: 95%;
    height: 80%;
  }
  .section__tv-show .tv .tv-screen .channel {
    font-size: 3rem;
  }
  .section__tv-show .tv .tv-screen .my-video {
    height: 90%;
    width: 95%;
  }
  .section__tv-show .tv .rightSide {
    width: 90%;
    height: 10%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .section__tv-show .tv .rightSide .rightSide--tvButton {
    width: 10vmin;
    height: 10vmin;
  }
  .section__tv-show .tv .rightSide .rightSide--sound {
    width: 40%;
    height: 100%;
  }
  .section__tv-show .tv .rightSide .rightSide--sound > div {
    width: 5%;
  }
}/*# sourceMappingURL=tvShow.css.map */