.section__contact {
    position: relative;
    height: 100vh;
    width: 100vw;
    place-content: center;
}

.section__contact-bg-svg{
    left: 0;
}

:root{
  --main-height: 600px;
  --main-width: 800px;
}

.container{
    position: absolute;
    height: 88vh;
    width: 100vw;
    font-family: var(--font-1);
    font-size: calc((var(--main-width) * .035));
}

.animation-container{
    display: none;
}

/* ------------- POSTCARD ------------- */

.postcard-border{
    position: absolute;
    left: 50%;
    margin-left: calc((var(--main-width) / -2));
    top: 50%;
    margin-top: calc((var(--main-height) / -2));
    width: var(--main-width);
    height: var(--main-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(315deg, var(--color-1), var(--color-1) 2%, whitesmoke 2%, whitesmoke 3%, var(--color-2) 3%, var(--color-2) 5%, whitesmoke 5%, whitesmoke 6%);
    border: 1px solid black;
    border-radius: calc((var(--main-width) * .01));
}

.postcard{
    background: ivory;
    width: calc((var(--main-width) * .95));
    height: calc((var(--main-height) - calc(var(--main-width) * .05)));
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.postcard-left,
.postcard-right{
    padding: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.postcard-left{
    width: 60%;
    border-right: 1px solid black;
}

.postcard-left-form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postcard-left-input {
    width: 100%;
    margin: 1% 0;
    position: relative;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.postcard-left-input input,
.postcard-left-input textarea {
    padding: 5%;
    border: 0;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.postcard-left-input label {
    font-family: 'Poiret One', cursive;
    font-size: 0.9rem;
    color: #191919;
    padding: .5vw;
    position: absolute;
    left: 0;
    transition: all .25s ease;
    pointer-events: none;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
    font-size: 0.5rem;
    padding: 0;
    transition: all .25s ease;
}

.postcard-left-message{
    height: calc(var(--main-height) / 5);
}

textarea {
  height: 100%;
}

textarea, input {
    font-family: 'Euphoria Script', cursive;
    font-size: 2rem;
}

.postcard-left-submit-btn {
    height: 3rem;
    width: 40%;
    align-self: end;
    border-radius: 5px;
    border: 2px solid #4b8cfb;
    background-color: #4b8cfb;
    font-family: 'Poiret One', cursive;
    font-size : 1.5rem;
    color: white;
    cursor: pointer;
    transition: all .25s ease;
}

.postcard-left-submit-btn:hover {
    background-color: ivory;
    color: #4b8cfb;
}

.postcard-right{
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.postcard-right-timbre{    
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15%;
    height: auto;
}

.postcard-right-timbre img{    
    width: 100%;
}

.postcard-right-exp{
    padding-bottom: 5%;
}

.postcard-right-exp>div{
    border-bottom: 1px solid black;
    padding-top: 7.5%;
}

@media (max-width: 800px){
    :root{
        --main-width: 80vw;
        --main-height: 60vw;
      }
}


/* ------------- ENVELOPPE ------------- */

.enveloppe-container{
    transform: translateY(44vh);
}

.enveloppe{
    position: absolute;
    left: 50%;
    margin-left: calc((var(--main-width)/-2));
    top: 50%;
    margin-top: calc((var(--main-height)/-2));
    width: var(--main-width);
    height: var(--main-height);
    background: transparent;
    animation: .5s ease-out forwards apparition-enveloppe, .5s linear 1s forwards reduction, .75s linear 1.5s forwards deplacement;
}

@keyframes apparition-enveloppe {
    from{
        transform: translateY(var(--main-height));
    }
    to{
        transform: translateY(0);
    }    
}

@keyframes reduction {
    to{
        transform: scale(0.25);
    }        
}

@keyframes deplacement {
    to{
        transform: scale(0.025) rotate(-35deg) translateX(2500vw);
        opacity: 0;
    }        
}

.enveloppe::before{
    /* languette */
    content: '';
    width: var(--main-width);
    height: var(--main-height);
    top: -40%;
    position: absolute;
    background: #E1E1E1;
    clip-path: polygon(0% 40%, 50% 0%, 100% 40%);
    animation: .5s ease-in-out .5s forwards fermeture;
    transform-origin: 0 calc((var(--main-height)*.4));
}

@keyframes fermeture {
    to{
        transform: rotateX(-180deg);
    }    
}

.enveloppe::after{
    content: '';
    width: var(--main-width);
    height: var(--main-height);
    position: absolute;
    background: white;
    clip-path: polygon(0 0, 50% 37.5%, 100% 0, 100% 100%, 0 100%);
}

/* ------------- MESSAGE ENVOYE ------------- */

.message-container{
    inset: 0;
    display: grid;
    place-content: center;
}