* {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

:root {
  --color-1: #374785;
  --color-2: #e63946;
  --color-3: #d7e3fc;
  --color-4: #b6ccfe;
  --color-5: #abc4ff;
  --font-1: "Kalam", cursive;
  --font-1b: "Festive", cursive;
  --font-2: "Ubuntu", sans-serif;
  --font-2b: "Baloo Da 2", cursive;
}

.spinner-container {
  perspective: 2500px;
  width: 100vw;
  height: 100vh;
}

.spinner {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -50vw;
  will-change: transform;
  transition: transform 0.75s ease-in-out;
}

.face {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  transform-origin: 50% 50% -50vw;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: var(--color-3);
}
.face:first-child {
  opacity: 1;
}
.face:nth-child(1) {
  transform: rotateY(0deg);
}
.face:nth-child(2) {
  transform: rotateY(90deg);
}
.face:nth-child(3) {
  transform: rotateY(180deg);
}
.face:nth-child(4) {
  transform: rotateY(270deg);
}
.face .content > section {
  position: absolute;
  z-index: 10;
}
.face .arrow {
  position: absolute;
  top: calc(50vh - 2rem);
  width: max(2.5vw, 2.5vh);
  height: max(2.5vw, 2.5vh);
  cursor: pointer;
  z-index: 100;
  border: none;
  background: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transform-origin: calc(50vh + 2rem);
}
.face .arrow::after, .face .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - max(0.625vh, 0.625vw));
  width: max(1.25vh, 1.25vw);
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.25s transform ease-in-out;
}
.face .arrow .component__navigation {
  position: absolute;
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
  font-size: 1.5vw;
}
.face .arrow .component__navigation-next-page {
  right: 1.25vw;
  transform-origin: right;
}
.face .arrow .component__navigation-prev-page {
  left: 1.25vw;
  transform-origin: left;
}
.face .arrow:hover .component__navigation-prev-page {
  transform: scale(1) translateX(1.25vw);
}
.face .arrow:hover .component__navigation-next-page {
  transform: scale(1) translateX(-1.25vw);
}
.face .arrow:hover::before {
  transform: rotate(45deg);
}
.face .arrow:hover::after {
  transform: rotate(-45deg);
}
.face .arrow .chevron {
  display: none;
}
.face .arrow-left {
  left: 2vmin;
}
.face .arrow-left::before, .face .arrow-left::after {
  transform-origin: left;
}
.face .arrow-right {
  right: 2vmin;
}
.face .arrow-right::before, .face .arrow-right::after {
  transform-origin: right;
}
.face .arrow--hidden {
  transform: translateY(calc(-50vh - 2rem)) rotateX(-90deg);
}
.face .section-bg-svg {
  position: absolute;
  bottom: 0;
  max-height: 100vmin;
  width: 100vmin;
  fill: var(--color-2);
}

.pull-me {
  position: absolute;
  height: 4.5vmin;
  width: 5vmin;
  left: calc(50% - 2vmin);
  background: var(--color-1);
  font-size: 1rem;
  font-family: var(--font-2);
  font-weight: bolder;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 0 0 25px 25px;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (orientation: portrait) {
  .face .arrow {
    position: absolute;
    top: 5vh;
    width: max(2.5vw, 2.5vh);
    height: max(2.5vw, 2.5vh);
    cursor: pointer;
    z-index: 100;
    border: none;
    background: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    transform-origin: calc(50vh + 2rem);
  }
  .face .arrow::after, .face .arrow::before {
    content: "";
    display: none;
  }
  .face .arrow .chevron {
    display: block;
  }

  .pull-me {
    height: 7.5vmin;
    width: 10vmin;
    left: calc(50% - 5vmin);
  }
}/*# sourceMappingURL=portfolio.css.map */