
// font-family: 'Baloo Da 2', cursive;

// font-family: 'Festive', cursive;

// font-family: 'Sedgwick Ave', cursive;

// font-family: 'Ubuntu', sans-serif;

// font-family: 'Kalam', cursive;

// font-family: 'VT323', monospace;

* {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}

:root {
    --color-1: #374785;
    --color-2: #e63946; // face svg background
    --color-3: #d7e3fc; // face background
    --color-4: #b6ccfe; // portfolio container
    --color-5: #abc4ff; // portfolio container

    --font-1: "Kalam", cursive;
    --font-1b: "Festive", cursive;
    --font-2: "Ubuntu", sans-serif;
    --font-2b: "Baloo Da 2", cursive;
}

// $color-1 : #A64AC9;
// $color-2 : #FCCD04;
// $color-3 : #FFB48F;
// $color-4 : #F5E6CC;
// $color-5 : #17E9E0;

$color-1: #f8e9a1;
$color-2: #f76c6c;
$color-3: #a8d0e6;
$color-4: #374785;
$color-5: #24305e;

// $color-1 : #F78888;
// $color-2 : #F3D250;
// $color-3 : #ECECEC;
// $color-4 : #90CCF4;
// $color-5 : #5DA2D5;

// $color-1 : #026670;
// $color-2 : #9FEDD7;
// $color-3 : #FEF9C7;
// $color-4 : #FCE181;
// $color-5 : #EDEAE5;

// $color-1 : #FBE8A6;
// $color-2 : #F4976C;
// $color-3 : #303C6C;
// $color-4 : #B4DFE5;
// $color-5 : #D2FDFF;

.spinner-container {
    perspective: 2500px;
    width: 100vw;
    height: 100vh;
}

.spinner {
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -50vw;
    will-change: transform;
    transition: transform 0.75s ease-in-out;
}

.face {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    transform-origin: 50% 50% -50vw;
    backface-visibility: hidden;
    background-color: var(--color-3);

    &:first-child {
        opacity: 1;
    }

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            transform: rotateY(90deg * ($i - 1));
        }
    }

    .content {
        & > section {
            position: absolute;
            z-index: 10;
        }
    }

    .arrow {
        position: absolute;
        top: calc(50vh - 2rem);
        width: max(2.5vw, 2.5vh);
        height: max(2.5vw, 2.5vh);
        cursor: pointer;
        z-index: 100;
        border: none;
        background: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        transform-origin: calc(50vh + 2rem);

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: calc(50% - max(0.625vh, 0.625vw));
            width: max(1.25vh, 1.25vw);
            border: 1px solid black;
            border-radius: 50%;
            transition: 0.25s transform ease-in-out;
        }

        & .component__navigation {
            position: absolute;
            transform: scale(0);
            overflow: hidden;
            transition: transform 0.25s ease-in-out;
            font-size: 1.5vw;
        }

        & .component__navigation-next-page {
            right: 1.25vw;
            transform-origin: right;
        }

        & .component__navigation-prev-page {
            left: 1.25vw;
            transform-origin: left;
        }

        &:hover {
            & .component__navigation-prev-page {
                transform: scale(1) translateX(1.25vw);
            }
            & .component__navigation-next-page {
                transform: scale(1) translateX(-1.25vw);
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        .chevron {
            display: none;
        }
    }

    .arrow-left {
        left: 2vmin;
        &::before,
        &::after {
            transform-origin: left;
        }
    }

    .arrow-right {
        right: 2vmin;
        &::before,
        &::after {
            transform-origin: right;
        }
    }

    .arrow--hidden {
        transform: translateY(calc(-50vh - 2rem)) rotateX(-90deg);
    }

    .section-bg-svg {
        position: absolute;
        bottom: 0;
        max-height: 100vmin;
        width: 100vmin;
        fill: var(--color-2);
    }
}

.section__title{
    display: block;
    height: 12vh;
    line-height: 12vh;
    font-family: var(--font-1);
    text-align: center;
    font-size: 8vh;
}

.pull-me {
    position: absolute;
    height: 4.5vmin;
    width: 5vmin;
    left: calc(50% - 2.5vmin);
    background: var(--color-1);
    font-size: 1rem;
    font-family: var(--font-2);
    font-weight: bolder;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 0 0 25px 25px;
    cursor: grab;
}

@media (orientation: portrait) {
    .face .arrow {
        position: absolute;
        top: 5vh;
        width: max(2.5vw, 2.5vh);
        height: max(2.5vw, 2.5vh);
        cursor: pointer;
        z-index: 100;
        border: none;
        background: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        transform-origin: calc(50vh + 2rem);

        &::after,
        &::before {
            content: "";
            display: none;
        }

        .chevron {
            display: block;
        }
    }

    .pull-me {
        height: 7.5vmin;
        width: 10vmin;
        left: calc(50% - 5vmin);
    }
}
