:root {
  --rotate-portfolio-container-top: 0deg;
  --rotate-portfolio-container-bottom: 0deg;
}

.section__work {
  position: relative;
  height: 100vh;
  width: 100vw;
  place-content: center;
  background-color: var(--color-3);
  will-change: transform;
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out;
}

.section__work-bg-svg-1 {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
}
.section__work-bg-svg-1 #section__work-bg-svg-1-elt {
  fill: var(--color-2);
}

.section__work-bg-svg-2 {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 87vh;
}
.section__work-bg-svg-2 #section__work-bg-svg-2-elt {
  fill: var(--color-2);
}

/* Set classes for portfolio animation : index opacity */
.portfolio-container {
  position: absolute;
  width: 100vmin;
  height: 80vmin;
  z-index: 5;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.portfolio-container .portfolio-container__part {
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in;
  background: gray;
}
.portfolio-container .portfolio-container__part .portfolio-container__tab {
  position: absolute;
  height: 50%;
  width: 10%;
  background: transparent;
  left: 0;
  cursor: pointer;
  border: none;
}
.portfolio-container .portfolio-container__part .portfolio-container__tab div {
  font-size: 1.5rem;
  transform: rotate(-90deg);
  transition: opacity 0.25s ease-in;
}
.portfolio-container .portfolio-container__part1 {
  transform-origin: bottom right;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 50%, 0% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 50%, 0% 50%);
  transform: rotate(var(--rotate-portfolio-container-top));
  background: var(--color-4);
}
.portfolio-container .portfolio-container__part1 .portfolio-container__tab {
  top: 0;
}
.portfolio-container .portfolio-container__part2 {
  transform-origin: top right;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%, 10% 50%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%, 10% 50%);
  transform: rotate(var(--rotate-portfolio-container-bottom));
  background: var(--color-5);
}
.portfolio-container .portfolio-container__part2 .portfolio-container__tab {
  bottom: 0;
}
.portfolio-container .portfolio-container__part--set-index {
  z-index: 5;
}
.portfolio-container .portfolio-container__part--set-opacity {
  opacity: 0;
  pointer-events: none;
}

/* Set portfolio container content*/
.portfolio__cards {
  list-style: none;
  position: relative;
  left: 10%;
  width: 90vmin;
  height: 80vmin;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.portfolio__cards .portfolio__cards-item {
  height: 40vmin;
  width: 45vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__cards .portfolio__card {
  position: relative;
  height: 32vmin;
  width: 40vmin;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.portfolio__cards .portfolio__card-work-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-img {
  position: relative;
  height: 25vmin;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-img img {
  height: 25vmin;
  width: 40vmin;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vmin;
  font-family: var(--font-2);
  font-size: 1.75rem;
}
.portfolio__cards .portfolio__card-text {
  position: absolute;
  top: 7vmin;
  left: 0;
  height: 25vmin;
  width: inherit;
}
.portfolio__cards .portfolio__card-text .portfolio__card-text-container {
  padding: 1vmin;
  line-height: 1.25rem;
  font-size: 1rem;
}
.portfolio__cards .portfolio__card-btn-container {
  position: relative;
  width: inherit;
  height: 8vmin;
}
.portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me-front {
  position: absolute;
  height: 4vmin;
  width: 5vmin;
  left: calc(50% - 2vmin);
  background: navy;
  border: none;
  border-radius: 0 0 25px 25px;
  transform-origin: top;
  pointer-events: none;
}
.portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me-front::after {
  content: "";
  position: absolute;
  width: 8vmin;
  border-top: 1px solid black;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me {
  position: absolute;
  height: 4vmin;
  width: 5vmin;
  left: calc(50% - 2vmin);
  background: navy;
  font-size: 0.75rem;
  font-family: var(--font-2);
  font-weight: bolder;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 0 0 25px 25px;
  cursor: -webkit-grab;
  cursor: grab;
}
.portfolio__cards .portfolio__card-btn-container .react-draggable-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.toggle-section-work {
  cursor: pointer;
}

.work-to-tv {
  height: 40vmin;
  width: 45vmin;
  display: grid;
  place-content: center;
}
.work-to-tv button {
  border: none;
  border-radius: 50%;
  height: 22.5vmin;
  width: 30vmin;
  font-size: 3rem;
}

.section__work--hidden {
  transform: translateY(-100%) rotateX(-90deg);
}

.section__tv-show--hidden {
  transform: translateY(100%) rotateX(90deg);
}/*# sourceMappingURL=work.css.map */