:root {
    --rotate-portfolio-container-top: 0deg;
    --rotate-portfolio-container-bottom: 0deg;
}

.section__work {
    position: relative;
    height: 100vh;
    width: 100vw;
    place-content: center;
    background-color: var(--color-3);
    will-change: transform;
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out;
}

.section__work-bg-svg-1 {
    left: 0;
}

.section__work-bg-svg-2 {
    right: 0;
}

/* Set classes for portfolio animation : index opacity */
.portfolio-container {
    position: absolute;
    width: 100vmin;
    height: 80vmin;
    z-index: 5;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .portfolio-container__part {
        position: absolute;
        height: inherit;
        width: inherit;
        border-radius: 25px;
        transition: transform 0.5s ease-in-out;
        background: hsl(0deg, 0%, 50%);       
        
        &::before {
            content: "";
            position: absolute;
            height: inherit;
            width: inherit;
            bottom: 0;
            right: 0;
            box-shadow: .3vw .15vw .1vw hsl(0deg, 0%, 0%, 0.125);
            border-radius: 25px;
        }
        

        .portfolio-container__tab {
            position: absolute;
            height: 50%;
            width: 10%;
            background: transparent;
            left: 0;
            cursor: pointer;
            border: none;

            div {
                font-size: 1.5rem;
                transform: rotate(-90deg);
                transition: opacity 0.25s ease-in;
            }
        }
    }

    .portfolio-container__part1 {
        transform-origin: bottom right;
        clip-path: polygon(0% 0%, 110% 0%, 110% 110%, 10% 110%, 10% 55%, 0% 55%);
        transform: rotate(var(--rotate-portfolio-container-top));
        background: var(--color-4);

        .portfolio-container__tab {
            top: 0;
        }
    }

    .portfolio-container__part2 {
        transform-origin: top right;
        clip-path: polygon(10% 0%, 110% 0%, 110% 110%, 0% 110%, 0% 45%, 10% 45%);
        transform: rotate(var(--rotate-portfolio-container-bottom));
        background: var(--color-5);

        .portfolio-container__tab {
            bottom: 0;
        }
    }

    .portfolio-container__part--set-index {
        z-index: 5;
    }

    .portfolio-container__part--set-opacity {
        opacity: 0;
        pointer-events: none;
    }
}

/* Set portfolio container content*/

.portfolio__cards {
    list-style: none;
    position: relative;
    left: 10%;
    width: 90vmin;
    height: 80vmin;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

    .portfolio__cards-item {
        height: 40vmin;
        width: 45vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio__card {
        position: relative;
        height: 32vmin;
        width: 40vmin;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
    }

    .portfolio__card-work-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .portfolio__card-work-img {
            position: relative;
            height: 25vmin;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            img {
                height: 25vmin;
                width: 40vmin;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        .portfolio__card-work-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7vmin;
            font-family: var(--font-2);
            font-size: 1.75rem;
        }
    }

    .portfolio__card-text {
        position: absolute;
        top: 7vmin;
        left: 0;
        height: 25vmin;
        width: inherit;

        .portfolio__card-text-container {
            padding: 1vmin;
            line-height: 1.25rem;
            font-size: 1rem;
        }
    }

    .portfolio__card-btn-container {
        position: relative;
        width: inherit;
        height: 8vmin;

        .portfolio__card-pull-me-front {
            position: absolute;
            height: 4vmin;
            width: 5vmin;
            left: calc(50% - 2vmin);
            background: var(--color-1);
            border: none;
            border-radius: 0 0 25px 25px;
            transform-origin: top;
            pointer-events: none;

            &::after {
                content: "";
                position: absolute;
                width: 8vmin;
                border-top: 1px solid black;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .react-draggable-dragging {
            cursor: grabbing;
        }
    }
}

.toggle-section-work {
    cursor: pointer;
}

.work-to-tv {
    height: 40vmin;
    width: 45vmin;
    display: grid;
    place-content: center;

    button {
        border: none;
        border-radius: 50%;
        height: 22.5vmin;
        width: 30vmin;
        font-size: 3rem;
    }
}

.section__work--hidden {
    transform: translateY(-100%) rotateX(-90deg);
}

.section__tv-show--hidden {
    transform: translateY(100%) rotateX(90deg);
}

.tv-show-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}
