:root {
    --rotate-portfolio-container-top: 0deg;
    --rotate-portfolio-container-bottom: 0deg;
}

.section__work {
    position: relative;
    height: 100vh;
    width: 100vw;
    place-content: center;
    background-color: var(--color-3);
    will-change: transform;
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out;
}

.section__work-bg-svg-1 {
    left: 0;
}

.section__work-bg-svg-2 {
    right: 0;
}

.face .section__work-bg-svg-top {
    top: 0;
}

/* Set classes for portfolio animation : index opacity */
.portfolio-container {
    position: absolute;
    width: 100vmin;
    height: 80vmin;
    z-index: 5;
    transform: translateX(-50%);
    top: 8rem;
    left: 50%;
    color: var(--font-color-2);    
    
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--font-color-2);
    }

    .portfolio-container__part {
        position: absolute;
        height: inherit;
        width: inherit;
        border-radius: 25px;
        transition: transform 0.5s ease-in-out;
        background: hsl(0deg, 0%, 50%);

        &::before {
            content: "";
            position: absolute;
            height: inherit;
            width: inherit;
            bottom: 0;
            right: 0;
            box-shadow: 0.3vw 0.15vw 0.1vw hsl(0deg, 0%, 0%, 0.125);
            border-radius: 25px;
        }

        .portfolio-container__tab {
            position: absolute;
            height: 50%;
            width: 10%;
            background: transparent;
            left: 0;
            cursor: pointer;
            border: none;

            div {
                font-size: 1.5rem;
                font-family: var(--font-1);
                transform: rotate(-90deg);
                transition: .05s font-size ease-in-out;

                &:hover{
                    font-size: 1.75rem;
                }
            }
        }
    }

    .portfolio-container__part1 {
        transform-origin: bottom right;
        clip-path: polygon(0% 0%, 110% 0%, 110% 110%, 10% 110%, 10% 55%, 0% 55%);
        transform: rotate(var(--rotate-portfolio-container-top));
        background: var(--color-4);

        .portfolio-container__tab {
            top: 0;
        }
    }

    .portfolio-container__part2 {
        transform-origin: top right;
        clip-path: polygon(10% 0%, 110% 0%, 110% 110%, 0% 110%, 0% 45%, 10% 45%);
        transform: rotate(var(--rotate-portfolio-container-bottom));
        background: var(--color-5);

        .portfolio-container__tab {
            bottom: 0;
        }
    }

    .portfolio-container__part--set-index {
        z-index: 5;
    }

    .portfolio-container__part--set-opacity {
        pointer-events: none;
    }
}

/* Set portfolio container content*/

.portfolio__cards {
    list-style: none;
    position: relative;
    left: 10%;
    width: 90vmin;
    height: 80vmin;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

    .portfolio__cards-item {
        height: 40vmin;
        width: 45vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio__card {
        position: relative;
        height: 32vmin;
        width: 40vmin;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
    }

    .portfolio__card-work-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .portfolio__card-work-img {
            position: relative;
            height: 25vmin;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            img {
                height: 25vmin;
                width: 40vmin;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        .portfolio__card-work-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7vmin;
            font-family: var(--font-1);
            font-size: 1.75rem;
        }
    }

    .portfolio__card-text {
        position: absolute;
        top: 7vmin;
        left: 0;
        height: 25vmin;
        width: inherit;
        display: flex;
        font-family: var(--font-2);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .portfolio__card-text-container {
            padding: 0.25rem;
            font-size: 1.25rem;

            .text-separation {
                display: block;
                margin: 0.25rem 25% 0.5rem;
                width: 50%;
                height: 2px;
                background: #374785;
                border-radius: 100%;
                border: none;
            }
        }

        .portfolio__card--links {
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 2rem;
            padding-bottom: 0.5rem;
        }
    }

    .portfolio__card-btn-container {
        position: relative;
        width: inherit;
        height: 8vmin;

        .portfolio__card-pull-me-front {
            position: absolute;
            height: 4vmin;
            width: 5vmin;
            left: calc(50% - 2.5vmin);
            background: var(--color-3);
            border: none;
            border-radius: 0 0 25px 25px;
            transform-origin: top;
            pointer-events: none;

            &::after {
                content: "";
                position: absolute;
                width: 8vmin;
                border-top: 1px solid black;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .react-draggable-dragging {
            cursor: grabbing;
        }
    }
}

.toggle-section-work {
    cursor: pointer;
    position: absolute;
    top: 2.5vmin;
    font-size: 5vmin;
    background: none;
    border: none;
}

.toggle-section-work--right{
    right: 2.5vmin;
}
.toggle-section-work--left{
    left: 2.5vmin;
}

.work-to-tv {
    height: 40vmin;
    width: 45vmin;
    display: grid;
    place-content: center;

    .work-to-tv__btn-container {
        position: relative;
        height: 20.8vmin;
        width: 36vmin;
        background: #5b4dcd;
        border-radius: 5%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        border: 2px solid black;

        &::before {
            content: "";
            background: #293450;
            width: 80%;
            height: 90%;
            border-radius: 5%;
            border: 2px solid #11103f;
        }
    }

    button {
        position: absolute;
        color: whitesmoke;
        font-size: 2rem;
        top: 50%;
        left: 7.5%;
        transform: translateY(-50%);
        border-radius: 30% / 15%;
        height: 81%;
        width: 72%;
        border: 2px solid black;
        background: black;
    }

    .work-to-tv__rightSide{
        width: 10%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .work-to-tv__rightSide--tvButton {
            width: 2.25rem;
            height: 2.25rem;
            background: #38302e;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #283141;

            .work-to-tv__rightSide--tvButton-line {
                height: 90%;
                width: 20%;
                background-color: #8eadcc;
                transform: rotate(90deg);
                border: 1px solid #283141;
            }
        }

        .work-to-tv__rightSide--sound {
            width: 100%;
            height: 40%;
            background: #6e8dc8;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 5%;
            border: 1px solid #283141;
        }

        .work-to-tv__rightSide--sound > div {
            height: 80%;
            width: 10%;
            background: #283141;
        }
    }

}

.section__work--hidden {
    transform: translateY(-100%) rotateX(-90deg);
}

.section__tv-show--hidden {
    transform: translateY(100%) rotateX(90deg);
}

.tv-show-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}

@media (orientation: portrait) {
    
    .portfolio-container {
        width: 100vmin;
        height: 80vh;

        .portfolio-container__part {
            border-radius: 25px 25px 0 0;
            &::before {
                display: none;
            }

            .portfolio-container__tab {
                height: 10%;
                width: 50%;
                top: 0;

                div {
                    font-size: 5vw;
                    transform: rotate(0deg);
                }
            }
        }

        .portfolio-container__part1 {
            clip-path: polygon(0% 0%, 55% 0%, 55% 10%, 110% 10%, 110% 110%, 0% 110%);

            .portfolio-container__tab {
                left: 0;
            }
        }

        .portfolio-container__part2 {
            transform-origin: bottom left;
            clip-path: polygon(0% 10%, 45% 10%, 45% 0%, 110% 0%, 110% 110%, 0% 110%);

            .portfolio-container__tab {
                left: 50vw;
            }
        }
    }

    .portfolio__cards {
        position: relative;
        left: 0;
        top: 8vh;
        width: 100vw;
        height: 72vh;

        .portfolio__cards-item {
            height: 36vh;
        }

        .portfolio__card {
            height: 28.8vh;
        }

        .portfolio__card-work-wrapper {
            .portfolio__card-work-img {
                height: 22.5vh;

                img {
                    height: 22.5vh;
                }
            }

            .portfolio__card-work-title {
                height: 6.3vh;
                font-size: 5vw;
                text-align: center;
            }
        }

        .portfolio__card-text {
            top: 6.3vh;
            height: 22.5vh;
            width: inherit;

            .portfolio__card-text-container {
                line-height: 3vw;
                font-size: 3vw;
            }

            .portfolio__card--links {
                font-size: 5vw;
                padding-bottom: 0.5vw;
            }
        }

        .portfolio__card-btn-container {
            position: relative;
            width: inherit;
            height: 7vh;

            .portfolio__card-pull-me-front {
                position: absolute;
                height: 4vmin;
                width: 10vmin;
                left: calc(50% - 5vmin);

                &::after {
                    width: 15vmin;
                }
            }
        }
    }

    .work-to-tv {
        height: 100%;
        width: 100%;
    
        .work-to-tv__btn-container {
            height: 40vw;
            width: 45vw;
            flex-direction: column;
    
            &::before {
                width: 95%;
                height: 80%;
            }
        }
    
        button {
            top: 42.5%;
            left: 5%;
            font-size: 5vw;
            height: 70%;
            width: 90%;
        }
    
        .work-to-tv__rightSide{
            width: 90%;
            height: 10%;
            flex-direction: row-reverse;
            justify-content: space-evenly;
    
            .work-to-tv__rightSide--tvButton {
                width: 4vw;
                height: 4vw;
    
                .work-to-tv__rightSide--tvButton-line {
                    height: 80%;
                    width: 20%;
                    transform: rotate(0deg);
                    border: none;
                }
            }
    
            .work-to-tv__rightSide--sound {
                width: 40%;
                height: 100%;
            }
    
            .work-to-tv__rightSide--sound > div {
                width: 5%;
            }
        }
    
    }
    
}