:root {
  --rotate-portfolio-container-top: 0deg;
  --rotate-portfolio-container-bottom: 0deg;
}

.section__work {
  position: relative;
  height: 100vh;
  width: 100vw;
  place-content: center;
  background-color: var(--color-3);
  will-change: transform;
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out;
}

.section__work-bg-svg-1 {
  left: 0;
}

.section__work-bg-svg-2 {
  right: 0;
}

.face .section__work-bg-svg-top {
  top: 0;
}

/* Set classes for portfolio animation : index opacity */
.portfolio-container {
  position: absolute;
  width: 100vmin;
  height: 80vmin;
  z-index: 5;
  transform: translateX(-50%);
  top: 8rem;
  left: 50%;
  color: var(--font-color-2);
}
.portfolio-container a:link,
.portfolio-container a:visited,
.portfolio-container a:hover,
.portfolio-container a:active {
  color: var(--font-color-2);
}
.portfolio-container .portfolio-container__part {
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out;
  background: gray;
}
.portfolio-container .portfolio-container__part::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  bottom: 0;
  right: 0;
  box-shadow: 0.3vw 0.15vw 0.1vw rgba(0, 0, 0, 0.125);
  border-radius: 25px;
}
.portfolio-container .portfolio-container__part .portfolio-container__tab {
  position: absolute;
  height: 50%;
  width: 10%;
  background: transparent;
  left: 0;
  cursor: pointer;
  border: none;
}
.portfolio-container .portfolio-container__part .portfolio-container__tab div {
  font-size: 1.5rem;
  transform: rotate(-90deg);
  transition: 0.05s font-size ease-in-out;
}
.portfolio-container .portfolio-container__part .portfolio-container__tab div:hover {
  font-size: 1.75rem;
}
.portfolio-container .portfolio-container__part1 {
  transform-origin: bottom right;
  -webkit-clip-path: polygon(0% 0%, 110% 0%, 110% 110%, 10% 110%, 10% 55%, 0% 55%);
          clip-path: polygon(0% 0%, 110% 0%, 110% 110%, 10% 110%, 10% 55%, 0% 55%);
  transform: rotate(var(--rotate-portfolio-container-top));
  background: var(--color-4);
}
.portfolio-container .portfolio-container__part1 .portfolio-container__tab {
  top: 0;
}
.portfolio-container .portfolio-container__part2 {
  transform-origin: top right;
  -webkit-clip-path: polygon(10% 0%, 110% 0%, 110% 110%, 0% 110%, 0% 45%, 10% 45%);
          clip-path: polygon(10% 0%, 110% 0%, 110% 110%, 0% 110%, 0% 45%, 10% 45%);
  transform: rotate(var(--rotate-portfolio-container-bottom));
  background: var(--color-5);
}
.portfolio-container .portfolio-container__part2 .portfolio-container__tab {
  bottom: 0;
}
.portfolio-container .portfolio-container__part--set-index {
  z-index: 5;
}
.portfolio-container .portfolio-container__part--set-opacity {
  pointer-events: none;
}

/* Set portfolio container content*/
.portfolio__cards {
  list-style: none;
  position: relative;
  left: 10%;
  width: 90vmin;
  height: 80vmin;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.portfolio__cards .portfolio__cards-item {
  height: 40vmin;
  width: 45vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__cards .portfolio__card {
  position: relative;
  height: 32vmin;
  width: 40vmin;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.portfolio__cards .portfolio__card-work-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-img {
  position: relative;
  height: 25vmin;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-img img {
  height: 25vmin;
  width: 40vmin;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vmin;
  font-family: var(--font-1);
  font-size: 1.75rem;
}
.portfolio__cards .portfolio__card-text {
  position: absolute;
  top: 7vmin;
  left: 0;
  height: 25vmin;
  width: inherit;
  display: flex;
  font-family: var(--font-2);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.portfolio__cards .portfolio__card-text .portfolio__card-text-container {
  padding: 0.25rem;
  font-size: 1.25rem;
}
.portfolio__cards .portfolio__card-text .portfolio__card-text-container .text-separation {
  display: block;
  margin: 0.25rem 25% 0.5rem;
  width: 50%;
  height: 2px;
  background: #374785;
  border-radius: 100%;
  border: none;
}
.portfolio__cards .portfolio__card-text .portfolio__card--links {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.portfolio__cards .portfolio__card-btn-container {
  position: relative;
  width: inherit;
  height: 8vmin;
}
.portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me-front {
  position: absolute;
  height: 4vmin;
  width: 5vmin;
  left: calc(50% - 2.5vmin);
  background: var(--color-3);
  border: none;
  border-radius: 0 0 25px 25px;
  transform-origin: top;
  pointer-events: none;
}
.portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me-front::after {
  content: "";
  position: absolute;
  width: 8vmin;
  border-top: 1px solid black;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio__cards .portfolio__card-btn-container .react-draggable-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.toggle-section-work {
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  font-size: 2rem;
  background: none;
  border: none;
}

.toggle-section-work--right {
  right: 2.5rem;
}

.toggle-section-work--left {
  left: 2.5rem;
}

.work-to-tv {
  height: 40vmin;
  width: 45vmin;
  display: grid;
  place-content: center;
}
.work-to-tv .work-to-tv__btn-container {
  position: relative;
  height: 20.8vmin;
  width: 36vmin;
  background: #5b4dcd;
  border-radius: 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid black;
}
.work-to-tv .work-to-tv__btn-container::before {
  content: "";
  background: #293450;
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 2px solid #11103f;
}
.work-to-tv button {
  position: absolute;
  color: whitesmoke;
  font-size: 2rem;
  top: 50%;
  left: 7.5%;
  transform: translateY(-50%);
  border-radius: 30%/15%;
  height: 81%;
  width: 72%;
  border: 2px solid black;
  background: black;
  -o-object-fit: contain;
     object-fit: contain;
}
.work-to-tv .work-to-tv__rightSide {
  width: 10%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.work-to-tv .work-to-tv__rightSide .work-to-tv__rightSide--tvButton {
  width: 2.25rem;
  height: 2.25rem;
  background: #38302e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #283141;
}
.work-to-tv .work-to-tv__rightSide .work-to-tv__rightSide--tvButton .work-to-tv__rightSide--tvButton-line {
  height: 90%;
  width: 20%;
  background-color: #8eadcc;
  transform: rotate(90deg);
  border: 1px solid #283141;
}
.work-to-tv .work-to-tv__rightSide .work-to-tv__rightSide--sound {
  width: 100%;
  height: 40%;
  background: #6e8dc8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5%;
  border: 1px solid #283141;
}
.work-to-tv .work-to-tv__rightSide .work-to-tv__rightSide--sound > div {
  height: 80%;
  width: 10%;
  background: #283141;
}

.section__work--hidden {
  transform: translateY(-100%) rotateX(-90deg);
}

.section__tv-show--hidden {
  transform: translateY(100%) rotateX(90deg);
}

.tv-show-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

@media (orientation: portrait) {
  /* Set classes for portfolio animation : index opacity */
  .portfolio-container {
    width: 100vmin;
    height: 80vh;
  }
  .portfolio-container .portfolio-container__part {
    border-radius: 25px 25px 0 0;
  }
  .portfolio-container .portfolio-container__part::before {
    display: none;
  }
  .portfolio-container .portfolio-container__part .portfolio-container__tab {
    height: 10%;
    width: 50%;
    top: 0;
  }
  .portfolio-container .portfolio-container__part .portfolio-container__tab div {
    font-size: 2.5rem;
    transform: rotate(0deg);
  }
  .portfolio-container .portfolio-container__part1 {
    -webkit-clip-path: polygon(0% 0%, 55% 0%, 55% 10%, 110% 10%, 110% 110%, 0% 110%);
            clip-path: polygon(0% 0%, 55% 0%, 55% 10%, 110% 10%, 110% 110%, 0% 110%);
  }
  .portfolio-container .portfolio-container__part1 .portfolio-container__tab {
    left: 0;
  }
  .portfolio-container .portfolio-container__part2 {
    transform-origin: bottom left;
    -webkit-clip-path: polygon(0% 10%, 45% 10%, 45% 0%, 110% 0%, 110% 110%, 0% 110%);
            clip-path: polygon(0% 10%, 45% 10%, 45% 0%, 110% 0%, 110% 110%, 0% 110%);
  }
  .portfolio-container .portfolio-container__part2 .portfolio-container__tab {
    left: 50vw;
  }

  /* Set portfolio container content*/
  .portfolio__cards {
    position: relative;
    left: 0;
    top: 8vh;
    width: 100vw;
    height: 72vh;
  }
  .portfolio__cards .portfolio__cards-item {
    height: 36vh;
  }
  .portfolio__cards .portfolio__card {
    height: 28.8vh;
  }
  .portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-img {
    height: 22.5vh;
  }
  .portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-img img {
    height: 22.5vh;
  }
  .portfolio__cards .portfolio__card-work-wrapper .portfolio__card-work-title {
    height: 6.3vh;
    font-size: 2rem;
  }
  .portfolio__cards .portfolio__card-text {
    top: 6.3vh;
    height: 22.5vh;
    width: inherit;
  }
  .portfolio__cards .portfolio__card-text .portfolio__card-text-container {
    line-height: 2rem;
    font-size: 1.75rem;
  }
  .portfolio__cards .portfolio__card-btn-container {
    position: relative;
    width: inherit;
    height: 7vh;
  }
  .portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me-front {
    position: absolute;
    height: 4vmin;
    width: 10vmin;
    left: calc(50% - 5vmin);
  }
  .portfolio__cards .portfolio__card-btn-container .portfolio__card-pull-me-front::after {
    width: 15vmin;
  }
}/*# sourceMappingURL=work.css.map */