@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poiret+One&family=Kalam&family=Baloo+Da+2&family=Festive&family=Sedgwick+Ave&family=Ubuntu:ital,wght@1,300&family=VT323&display=swap');

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}